.footer {
  color: #fff;
  padding: 4.8rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToTop:hover {
  cursor: pointer;
}

.backTopEmoji {
  font-size: 48px;
}

.footer hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  width: 50%;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}

.footer-text {
  font-size: 13px;
}

.footer-text a {
  font-size: 13px;
  transition: all 0.4s;
  display: inline-block;
}

.footer-text a:hover,
.footer-text:active {
  color: #f9b6af;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.networkIcon {
  margin: 0 20px;
}
