.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 36px;
  color: #fff;
}

.header ul {
  list-style: none;
  height: 100%;
  margin: 0;
}

.header a:hover {
  cursor: pointer;
}

.header-icon,
.header ul {
  display: flex;
  align-items: center;
  padding: 6px 0;
}

.header-icon {
  margin: 0 16px;
}

.buttom-nav {
  position: relative;
  background-color: #83677b;
}

.top-nav {
  position: fixed;
  top: 0px;
  background: #83677b;
  z-index: 10000;
  width: 100%;
}

.mobile-nav-items {
  width: 100%;
  margin: 6px 0;
}

.mobile-nav-items nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.mobile-nav-items li {
  margin: 3px 0;
  transition: 1s linear step-start;
}

.mobile-nav-items button:active,
.mobile-nav-items button:focus {
  outline: none;
}

.mobile-nav-items .mobile-navbar-nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.mobile-nav-collapse {
  flex-grow: 1;
  align-items: center;
  order: 1;
}

.mobile-nav-collapse:hover {
  cursor: pointer;
}

.nav-toggle {
  order: 2;
  margin: auto 16px;
}

ul:hover {
  cursor: pointer;
}

li a {
  color: white;
}

li a:hover {
  color: white;
  cursor: pointer;
  font-weight: bolder;
}

@media (max-width: 576px) {
  .laptop-nav-items {
    display: none;
  }
  .mobile-nav-items {
    display: flex;
  }
  li {
    margin-right: 0;
  }
}

@media (min-width: 577px) {
  .mobile-nav-items {
    display: none;
  }
  .laptop-nav-items {
    display: flex;
  }
  li {
    margin-right: 1rem;
  }
}
