button {
  border: 1px solid #7b263f;
}

.herojumbotron {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background-color: transparent;
  font-weight: 400;
  color: #272341;
  padding: 0rem 0.8rem;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.herotitle {
  margin-bottom: 3.2rem;
  text-align: left;
}

.cta {
  display: flex;
}

.wave {
  animation-name: wave-animation;  
  animation-duration: 2.5s;        
  animation-iteration-count: 2;  
  transform-origin: 70% 70%;      
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }  
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }  
100% { transform: rotate( 0.0deg) }
}


/* Extra small devices (landscape phones, 320px and up) */
@media (min-width: 320px) {
  #hero {
    line-height: 1.5;
  }
  .herojumbotron {
    padding: 0rem 0.8rem;
  }
  .herotitle {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
  }
  .cta {
    justify-content: center;
  }
  .cta a {
    font-size: 1rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .herojumbotron {
    line-height: 1.5;
  }
  .herojumbotron {
    padding: 0rem 3rem;
  }
  .herotitle {
    font-size: 2rem;
  }
  .cta a {
    font-size: 1rem;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .herotitle {
    line-height: 1.2;
    font-size: 2.5rem;
  }
  .herojumbotron {
    padding: 0rem 5.6rem;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .herotitle {
    font-size: 2.8rem;
    text-align: left;
  }
  .cta {
    justify-content: start;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .herotitle {
    font-size: 3rem;
  }
}
