.projectWrapper {
  margin-bottom: 15rem;
}

.project-container {
  margin-bottom: 2rem;
}

.projectTitle {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 18px;
}

.projectWrapperText {
  text-align: left;
}

.projectWrapperText p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #272341;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin: 0;
}

.cta-container {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
}

.codeIcon {
  color: #c87d7f;
  margin: 0 3px;
}

.projectWrapperImage {
  width: 90%;
  margin: 0 auto;
}

.thumbnail {
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.2s ease-out;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.5s box-shadow,
    0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

@media (max-width: 576px) {
  .projectWrapper {
    margin-bottom: 0rem;
  }

  .row {
    margin-bottom: 2rem;
  }

  .projectTitle {
    font-size: 20px;
    margin: 0px 0px 18px;
  }

  .projectWrapperText {
    font-size: 16px;
    margin-top: 1rem !important;
    margin-bottom: 0.5rem;
  }

  .codeIcon {
    color: #7b263f;
  }
  .thumbnail {
    border: 1px solid #d2d2d2;
    box-shadow: none;
  }
}

@media (min-width: 576px) {
  .projectWrapperText {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .projectWrapperImage {
    width: 100%;
    margin: 0;
  }
}
